.about__timeline-task {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 14px 0 0;
  background-color: #202020;
  color: #8b8b8b;
}

@media screen and (max-width: 767px) {
  .about__timeline {
    padding-top: 10px;
    padding-bottom: 11px;
  }
}
