.about__timeline {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .about__timeline {
    grid-template-columns: 100fr 184fr;
    font-size: 11px;
    line-height: 1.18;
  }
}
