/* .entry__input */

.entry__input {
  display: flex;
  flex-direction: column;
}

/* .entry__input-title */

.entry__input-title {
  margin: 0;
  padding: 0 0 5px;
  font-size: 10px;
  line-height: 1.2;
  color: #8b8b8b;
}

/* .entry__input-field */

.entry__input-field {
  position: relative;
  border: none;
  /* border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  background-color: transparent;
  margin-bottom: 50px;
  color: #fff;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
}

.entry__input-error {
  position: relative;
  min-height: 30px;
  margin: 0;
  padding: 0;
  color: #f00;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  visibility: hidden;
}

.entry__input-error::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  color: white;
  content: '';
  visibility: visible;
}


.entry__input__input::placeholder {
  color: #c4c4c4;
  opacity: 1;
}

.entry__input__input_type_error {
  border-bottom-color: #f00;
}



.entry__input__error_visible {
  visibility: visible;
}
