/* .movies-card */

.movies-card {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* .movies-card__like-button */

.movies-card__like-button {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  margin: 0;
  min-height: 21px;
  min-width: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px;
  padding: 0 9px;
  border: none;
  /* TODO think about better implementation */
  border-radius: 10px;
  color: #fff;
  font-size: 10px;
  line-height: .91;
  font-weight: 400;
  transition: .3s;
  z-index: 1;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .movies-card__like-button {
    top: 10px;
    right: 10px;
  }
}

.movies-card__like-button:hover {
  /* TODO: make no transparent */
  opacity: .8;
}

.movies-card__like-button_style_save {
  background-color: #313131;
}

.movies-card__like-button_style_save:after {
  content: "Сохранить";
}

.movies-card__like-button_style_saved {
  background-color: #ee3465;
  background-image: url("../../images/icons/check-mark.svg");
}

/* .movies-card__delete-button */

.movies-card__delete-button {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  margin: 0;
  min-height: 21px;
  min-width: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px;
  background-color: #313131;
  background-image: url("../../images/icons/diagonal-cross.svg");
  padding: 0 9px;
  border: none;
  border-radius: 10px;
  transition: .3s;
  z-index: 1;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .movies-card__delete-button {
    top: 10px;
    right: 10px;
  }
}

.movies-card__delete-button:hover {
  /* TODO: make no transparent */
  opacity: .8;
}

/* .movies-card__image-container */

.movies-card__image-container {
  position: relative;
  width: 100%;
  padding-bottom: 56%;
}

/* .movies-card__image */

.movies-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  display: block;
  width: 100%;
  height: 100%;
  /* TODO: consult the designer which one is better */
  /* object-fit: contain; */
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}

/* .movies-card__info */

.movies-card__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 14px;
  padding: 14px 14px 0;
}

@media screen and (max-width: 917px) {
  .movies-card__info {
    padding-top: 25px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 520px) {
  .movies-card__info {
    padding-top: 16px;
  }
}

/* .movies-card__title */

.movies-card__title {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 13px;
  line-height: 1.23;
  font-weight: 500;
}

@media screen and (max-width: 520px) {
  .movies-card__info {
    font-size: 12px;
    line-height: 1.25;
  }
}

/* .movies-card__duration */

.movies-card__duration {
  margin: 0;
  padding: 3px 7px;
  background-color: #2f2f2f;
  border-radius: 3px;
  color: #8b8b8b;
  font-size: 11px;
  line-height: .91;
  font-weight: 400;
}
