.movies {
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .movies {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 520px) {
  .movies {
    padding-left: 10px;
    padding-right: 10px;
  }
}