/* .entry */

/* TODO provide a better solution for vertical centering like in NotFound component */
.entry {
  /* provide vertical centering */
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* TODO: check why height does not work */
  min-height: 100%;
}

@media screen and (max-width: 520px) {
  .entry {
    align-items: stretch;
  }
}

/* provide vertical scrolling */
@media screen and (max-height: 600px) {
  .entry {
    position: static;
  }
}

/* provide vertical scrolling */
@media screen and (max-width: 520px) and (max-height: 723px) {
  .entry {
    position: static;
  }
}

/* .entry__container */

.entry__container {
  display: flex;
  flex-direction: column;
  width: 396px;
  margin-right: auto;
  margin-left: auto;
  /* provide better UI on low viewport heights */
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 520px) {
  .entry__container {
    width: 260px;
    justify-content: space-between;
    padding-top: 56px;
  }
}

/* .entry__logo-link-wrapper */

@media screen and (max-width: 520px) {
  .entry__logo-link-wrapper {
    align-self: center;
  }
}

/* .entry__logo */

.entry__logo {
  width: 38px;
  height: 38px;
  object-fit: contain;
}

/* .entry__title */

.entry__title {
  margin: 0;
  padding: 40px 0;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
}

@media screen and (max-width:520px) {
  .entry__title {
    align-self: center;
    padding-top: 50px;
    padding-bottom: 80px;
  }
}

/* .entry__form */

.entry__form {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 520px) {
  .entry__form {
    flex-basis: 100%;
    justify-content: space-between;
  }
}

/* .entry__inputs-container */

.entry__inputs-container {
  min-height: 311px;
}

@media screen and (max-width: 520px) {
  .entry__inputs-container {
    min-height: 266px;
  }
}

/* .entry__lower-container */

.entry__lower-container {
  display: flex;
  flex-direction: column;
}

/* .entry__error */

.entry__error {
  padding-bottom: 20px;
  font-size: 11px;
  line-height: 1.21;
  font-weight: 400;
  text-align: center;
  color: #ee3465;
  visibility: hidden;
}

.entry__error_visible {
  visibility: visible;
}

/* .entry__submit-button */

.entry__submit-button {
  min-height: 45px;
  padding: 0;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  background-color: #4285f4;
  color: #fff;
  cursor: pointer;
  transition: .3s;
}

@media screen and (max-width: 520px) {
  .entry__submit-button {
    font-size: 12px;
    line-height: 1.25;
  }
}

.entry__submit-button:hover {
  opacity: .8;
}

/* .entry__navbar */

.entry__navbar {
  display: flex;
  column-gap: 6px;
  padding-top: 16px;
  align-self: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (max-width: 520px) {
  .entry__navbar {
    column-gap: 7px;
    font-size: 12px;
    line-height: 1.25;
  }
}

/* *entry__link-tip */

.entry__link-tip {
  margin: 0;
  padding: 0;
  color: #8b8b8b;
}

/* .entry__link */

.entry__link {
  margin: 0;
  padding: 0;
  color: #4285f4;
  text-decoration: none;
  transition: .3s;
}

.entry__link:hover {
  opacity: .7;
}
