.main-subtitle {
  margin: 0;
  padding: 0 0 24px;
  position: relative;
  font-size: 22px;
  line-height: 1.23;
  font-weight: 400;
  letter-spacing: -.04em;
}

.main-subtitle::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #dadada;
  content: '';
}

@media screen and (max-width: 520px) {
  .main-subtitle {
    font-size: 18px;
  }
}
