.saved-movies {
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .saved-movies {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 520px) {
  .saved-movies {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* .saved-movies__error */

.saved-movies__error {
  margin: 0;
  padding: 0;
  align-self: center;
  max-width: 900px;
  text-align: center;
  color: #ee3465;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
}

/* .saved-movies__error */

.saved-movies__not-found {
  margin: 0;
  padding: 0;
  align-self: center;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.21;
}
