.header {
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  position: relative;
}

@media screen and (max-width: 917px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.header_main {
  background-color: #073042;
}

.header__logo {
  width: 38px;
  height: 38px;
  object-fit: contain;
}

.header__unauthorized {
  display: flex;
  column-gap: 30px;
  align-items: center;
  font-size: 12px;
  line-height: 1.23;
}

@media screen and (max-width: 480px) {
  .header__unauthorized {
    font-size: 10px;
    line-height: 1.6;
  }
}

.header__item {
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  transition: .3s;
}

.header__item:hover {
  opacity: .7;
}

.header__item_type_regular {
  font-weight: 400;
}

.header__item_type_signin {
  display: flex;
  color: #000;
  background-color: #3ddc84;
  border-radius: 3px;
  min-height: 32px;
  min-width: 76px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
}

.header__item_type_signin:hover {
  opacity: .8;
}

.header__item_type_movies {
  font-weight: 500;
}

.header__authorized {
  width: 100%;
  margin-left: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  line-height: 1.38;
  font-weight: 400;
}

@media screen and (max-width: 917px) {
  .header__authorized {
    justify-content: flex-end;
  }
}

.header__navbar {
  display: flex;
  column-gap: 16px;
}

@media screen and (max-width: 917px) {
  .header__navbar {
    display: none;
  }
}

.header__account {
  display: flex;
  column-gap: 7px;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  transition: .3s;
}

.header__account:hover {
  opacity: .7;
}

@media screen and (max-width: 917px) {
  .header__account {
    display: none;
  }
}

.header__account-title {
  color: #fff;
}

.header__account-icon {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: #313131;
  background-image: url('../../images/icons/user.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px;
}

.header__hamburger {
  display: none;
}

.header__hamburger:hover {
  opacity: .7;
}

@media screen and (max-width: 917px) {
  .header__hamburger {
    display: block;
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    transition: .3s;
    cursor: pointer;
    background-color: transparent;
    background-image: url('../../images/icons/hamburger.svg');
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

@media screen and (max-width: 480px) {
  .header__hamburger {
    width: 40px;
    height: 43px;
  }
}