/* TODO: split into files */
@import url(./blocks/about__timeline.css);
@import url(./blocks/about__timeline-task.css);
@import url(./blocks/about__timeline-duration.css);


/* .about */

.about {
  display: flex;
  flex-direction: column;
  padding: 110px 70px;
}

@media screen and (max-width: 917px) {
  .about {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding: 70px 18px;
  }
}


/* .about__description */

.about__description {
  display: flex;
  column-gap: 40px;
}

@media screen and (max-width: 917px) {
  .about__description {
    column-gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .about__description {
    flex-direction: column;
  }
}


/* .about__article */

.about__article {
  flex-basis: 50%;
}


/* .about__article-header */

.about__article-header {
  margin: 0;
  padding: 0 0 26px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

@media screen and (max-width: 917px) {
  .about__article-header {
    padding-bottom: 22px;
  }
}

@media screen and (max-width: 767px) {
  .about__article-header {
    padding-bottom: 16px;
  }
}


/* .about__article-text */

.about__article-text {
  margin: 0;
  padding: 0 0 110px;
  font-size: 14px;
  line-height: 1.43;
}

@media screen and (max-width: 917px) {
  .about__article-text {
    padding-bottom: 93px;
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .about__article-text {
    padding-bottom: 56px;
    font-size: 11px;
    line-height: 1.45;
  }
}
